body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000; /* Fallback background color */
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the background image */
    color: #fff; /* White text color */
}


.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 0 20px;
}

h1 {
    text-align: center;
    font-size: 3em;
    margin-top: 50px;
}

h2 {
    text-align: center;
    font-size: 2em;
    margin-top: 50px;
}



#map {
    margin-top: 30px;
    border: 2px solid #fff; /* Add a border to the map */
    border-radius: 10px;
}






/* Update the CSS to style the astronauts' names */
.people {
    font-size: 1em; /* Smaller font size */
    font-weight: bold;
    color: #fff; /* White color for text */
    text-transform: uppercase; /* Convert text to uppercase */
    letter-spacing: 1px; /* Add some letter spacing for emphasis */
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5); /* Add a subtle glow effect */
    cursor: pointer; /* Change cursor to pointer to indicate clickability */
    background-color: #121212; /* Dark background color */
    padding: 8px 12px; /* Add padding for better appearance */
    border: 1px solid #fff; /* Add border */
    border-radius: 5px; /* Add border radius for rounded corners */
    margin: 10px; /* Add margin between each person */
    display: inline-block; /* Make each person name a block element */
    transition: background-color 0.3s, color 0.3s; /* Add transition for smooth hover effect */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow effect */
}

.people:hover {
    background-color: #0066ff; /* Blue background color on hover */
    color: #fff; /* White color for text on hover */
}




